.video-contain {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.video {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
* {
  font-family: "Poppins", sans-serif;
}
